<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="container">
        <h1>hello world</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde odio totam consectetur libero est temporibus architecto necessitatibus asperiores perspiciatis natus nulla sapiente officiis quidem, alias reprehenderit, ad saepe voluptas esse.
        </p>
        <hr />
    </div>
    <div class="container box2">
        <h1>hello friendds</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde odio totam consectetur libero est temporibus architecto necessitatibus asperiores perspiciatis natus nulla sapiente officiis quidem, alias reprehenderit, ad saepe voluptas esse.
        </p>
        <hr />
    </div>
    <div class="container">
        <h1>hello wsa</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde odio totam consectetur libero est temporibus architecto necessitatibus asperiores perspiciatis natus nulla sapiente officiis quidem, alias reprehenderit, ad saepe voluptas esse.
        </p>
        <hr />
    </div>
    <button id="dark">darkmode</button>
    <button id="lightmode">lightmode</button>
    <script>
        console.log(window.getComputedStyle(document.documentElement).getPropertyValue("--body-bg-color"))

        document.getElementById("dark")
        .addEventListener("click" ,()=> {
        let styles = document.documentElement.style;
        styles.setProperty("--body-bg-color","#333")
        styles.setProperty("--div-bg-color","#222")
        styles.setProperty("----text-color","white")
        });

        document.getElementById("lightmode")
        .addEventListener("click" ,()=> {
        let styles = document.documentElement.style;
        styles.setProperty("--body-bg-color","aliceblue")
        styles.setProperty("--div-bg-color","pink")
        styles.setProperty("----text-color","black")
        });
    </script>
</body>
</html>