<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
    width: 150px;
    height: 150px;
    background-color: grey;
    line-height: 150px;
    margin-top: 1em;
}
.skewed:hover{
    margin-left: 200px;
    transform:skewy(45deg); /* xis 1.2 & y =1.5 */
    background-color: blue;
    transform:skew(20deg,45deg); 
}
    </style>
</head>
<body>
    <div class="box">static box</div> 
    <div class="box skewed">skewedbox</div>
    <div class="box">static box</div>
</body>
</html>