<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .container{
    width: 150px;
    height: 150px;
    background-color: grey;
      transition-duration: 2s;
    transition-property: background,transfrom;
    transition-timing-function: ease-in;
    transition-delay: 2s;
    /* transition: background, trasnfrom 1000ms ease-in-out 200ms; shorthand prop */
}
.container:hover{
    background-color: aqua;
    transform: rotate(45deg) scale(1.2);
    background-color: blue;
}

    </style>
</head>
<body>
    <div class="container">box1</div>
</body>
</html>