.box{
    width: 150px;
    height: 150px;
    background-color: grey;
    line-height: 150px;
    margin-top: 1em;
}
.moved:hover{
    transform: translate(100px,40px); 
    /* transform: translateX(50px);  
    transform: translateY(20px);   */
    background-color: blue;
}